on: 
  workflow_dispatch:
    inputs:
      runId:
        type: string
        description: a generated runId for correlating workflows
name: Create an issue on push
permissions:
  contents: read
  issues: write 
jobs:
  stuff:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - run: gh issue create --title "I found a bug" --body "Nothing works"
