# https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#workflow_run
name: Workflow Complete
on:
  workflow_run:
    workflows: [Dispatchable Workflow]
    types:
      - completed
jobs:
  ReportCompletion:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - run: echo "${{ toJson(github) }}"
      
      # Source workflow ID?
      # - run: echo "${{ github.event.workflow.id }}
      
      # data from triggering flow?
      # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#using-data-from-the-triggering-workflow
      - run: echo "${{ toJson(github.event) }}
